name: DevSecOps

on:
  push:
  pull_request:
  workflow_dispatch:

jobs: 
  horusec:
    runs-on: ubuntu-latest
    steps:
     - name: Running Horus Security
       id: step_horusec
       run: |
          curl -fsSL https://raw.githubusercontent.com/ZupIT/horusec/main/deployments/scripts/install.sh | bash -s latest
          horusec start -p ./
